/* I can't think of anything to put here
*/

.wp-block-oik-bbw-github {
  h3   {
	color: inherit;
  }

  a {
	color: inherit;

	  span.bw_follow_me {
		color: inherit;
		font-size: inherit;
  	}

  }
}

